<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <footer  style="width: 100%;background-color: #1B1C1D;">
        <div th:fragment="footer">
                    <div class="row" style="text-align: center;">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <dt><a href="#" style=" color: #FFF;">关于我们</a></dt>
                            <dd>欢迎使用小小社区</dd>
                            <dd>在这里您可以自由提问和回复问题</dd>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <dl>
                                <dt><a href="#" style=" color: #FFF;">联系方式</a></dt>
                                <dd>Email：1004027030@qq.com</dd>
                                <dd>QQ：1004027030</dd>
                            </dl>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <dt><a href="#" style=" color: #FFF;">关注开发者公众号</dt>
                            <dd><img src="../static/images/wechat.jpg" th:src="'/img/wechat.png'" style="width: 110px"></dd>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <dt><a href="#" style=" color: #FFF;">版权信息</a></dt>
                            <dd>Copyright © 2020  Designed by 曾小娇</dd>
                        </div>
                    </div>
    </footer>
</html>

