<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!--jQuery-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/me.css">
        <meta charset="UTF-8">
        <title th:text="${sectionName}"></title>
    </head>
    <body>
        <nav class="navbar navbar-default" >
            <!--导航头-->
            <div th:insert="~{head :: nav}"></div>

            <!--中间内容-->
            <div class="container-fluid main">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                        <h5>
                             <span  th:text="${sectionName}"><span/>
                        </h5>
                        <hr/>
                        <div class="media" th:each="questionDTO:${pagination.getQuestionDTOs()}">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object img-circle" th:src="${questionDTO.getUser().getAvatarUrl()}"  >
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading" th:text="${questionDTO.getTitle()}"></h4>
                                <span th:text="${questionDTO.getDescription()}"></span><br>
                                <span class="text-desc">
                                    <span th:text=" ${questionDTO.getCommentCnt()}+个回复 "></span>
                                    <span th:text=" ${questionDTO.getViewCnt()}+次浏览 "></span>
                                    <span th:text=" 发布时间：+${#dates.format(questionDTO.getGmtCreate(),'yyyy-MM-dd HH:mm')}"></span>
                                </span>
                            </div>
                        </div>

                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li th:if="${pagination.isShowBegin()}">
                                    <a th:href="@{'/my/'+${section}(page=${1})}" aria-label="Previous">
                                        <span aria-hidden="true">&lt;&lt;</span>
                                    </a>
                                </li>
                                <li th:if="${pagination.isShowPreviousPage()}">
                                    <a th:href="@{/my/{section}(section=${section},page=${pagination.getPage()-1})}" aria-label="Previous">
                                        <span  aria-hidden="true">&lt;</span>
                                    </a>
                                </li>

                                <li th:each="page:${pagination.getPageList()}" th:class="${pagination.getPage()==page}?'active':''">
                                    <a th:href="@{'/my/'+${section}(page=${page})}" th:text="${page}">
                                    </a>
                                </li>
                                <li th:if="${pagination.isShowNextPage()}">
                                    <a th:href="@{/my/{section}(section=${section},page=${pagination.getPage()+1})}" aria-label="Previous">
                                        <span aria-hidden="true">&gt;</span>
                                    </a>
                                </li>
                                <li th:if="${pagination.isShowEnd()}">
                                    <a th:href="@{/my/{section}(section=${section},page=${pagination.getTotalPages()})}" aria-label="Previous">
                                        <span aria-hidden="true">&gt;&gt;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="list-group">
                            <a href="#" class="list-group-item disabled">
                                列表
                            </a>
                            <a href="/my/myQuestions" th:class="${section}=='myQuestions'?'active list-group-item':'list-group-item'">提问历史</a>
                            <a href="/my/replies" th:class="${section}=='replies'?'active list-group-item':'list-group-item'">回复<span class="badge">14</span> </a>
                        </div>
                    </div>
                </div>

            </div>

            </div>

        </nav>
    </body>
</html>