<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="/js/jquery-3.4.1.min.js"></script>

        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script src="/lib/editormd/editormd.min.js" type="application/javascript"></script>
        <link rel="stylesheet" href="/lib/editormd/css/editormd.css">

         <link rel="stylesheet" href="/css/me.css">
        <script  src="/js/me.js" type="application/javascript"></script>
        <script   src="/js/monent.js" type="application/javascript"></script>
        <meta charset="UTF-8">
        <title>小小社区-提问</title>
    </head>
    <body>
             <!--引入导航头-->
            <div th:insert="~{head :: nav}"></div>

            <!--中间内容-->
            <div class="container-fluid main">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                        <h2>
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true">提问</span>
                        </h2>
                        <hr/>
                        <form action="/publish" method="post">
                            <input type="hidden" name="id" th:value="${id}">
                            <div class="form-group">
                                <label for="title">标题</label>
                                <input type="text" class="form-control" id="title"  name="title" placeholder="请输入问题的标题.." th:value="${title}">
                            </div>

                            <div class="form-group" id="question-editor">
                                <label for="description">详细描述</label>
                                <textarea name="description" style="display:none" th:text="${description}" id="description"  class="form-control"  cols="30" rows="10"></textarea>
                            </div>
                            <script type="text/javascript">
                                $(function() {
                                    var editor = editormd("question-editor", {
                                        width  : "100%",
                                        height : 400,
                                        path   : "/lib/editormd/lib/",
                                        imageUpload: true,
                                        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                        imageUploadURL: "/file/upload",
                                    });
                                });
                            </script>
                            <div class="form-group">
                                <label for="tag">添加标签:</label>
                                <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag" autocomplete="off" placeholder="输入标签，以，号分隔" onclick="showSelectTag()">
                                <div id="select-tag" class="publish-tag-tab">
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                            th:class="${selectCategoryStat.first ? 'active':''}">
                                            <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                               data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                             th:each="selectCategory: ${tags}"
                                             th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                            <span>
                                                <span class="label label-info" th:each="selectTag: ${selectCategory.tags}">
                                                   <span class="glyphicon glyphicon-tags" onclick="selectTag(this)" th:data-tag="${selectTag}" th:text="${' '+selectTag}"></span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid main">
                                <div class="row">
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                                        <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12 col-xs-12"
                                             th:text="${error}" th:if="${error!=null}">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" class="btn btn-success btn-submit">发布</button>
                                    </div>
                                </div>

                            </div>

                                </form>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <h3>提问指南</h3>
                        *请尽量用精简语言*<br>
                        *请选择问题对应标签*<br>
                        *请补充问题充分的描述*<br>
                    </div>
                </div>

            </div>

    </body>
</html>