<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script src="/js/jquery-3.4.1.min.js"></script>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
       <link rel="stylesheet" href="/css/me.css">
        <script src="/lib/editormd/lib/marked.min.js"></script>
         <script src="/lib/editormd/lib/prettify.min.js"></script>
        <script src="/lib/editormd/editormd.min.js" type="application/javascript"></script>
        <link rel="stylesheet" href="/lib/editormd/css/editormd.preview.css">
        <script   src="/js/me.js" type="application/javascript"></script>
        <script   src="/js/monent.js" type="application/javascript"></script>
        <meta charset="UTF-8">
        <title th:text="${questionUser.getTitle()}"></title>
    </head>
    <script type="application/javascript">
        //windows.onload方法用于在网页加载完毕后立刻执行的操作，即当 HTML 文档加载完毕后，立刻执行某个方法。
        window.onload=function(){
            var closable=window.localStorage.getItem("closable");
            if(closable===true){
                //close() 方法用于关闭浏览器窗口。
                window.close();
                window.localStorage.removeItem("closable")
            }
        }
    </script>
    <body>
        <nav class="navbar navbar-default" >
            <!--导航头-->
            <div th:insert="~{head :: nav}"></div>

            <!--中间内容-->
            <div class="container-fluid main">
                <div class="row">

                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
                        <!--正文-->
                        <div>
                            <h2>
                                 <span  th:text="${questionUser.getTitle()}"  ><span/>
                            </h2>
                            <span class="text-desc">m
                                        <span th:text="'作者:'+${questionUser.getUser().getName()} "></span>
                                        <span style="float: right" th:text=" ' | 发布时间:'+${#dates.format(questionUser.getGmtCreate(),'yyyy-MM-dd HH:mm')} "></span>
                                        <span style="float: right" th:text=" ' |  阅读量:'+${questionUser.getViewCnt()} "></span>
                            </span>
                             <hr/>

                            <!--内容-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="question-view">
                                <textarea style="display:none;" th:text="${questionUser.getDescription()}"></textarea>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    editormd.markdownToHTML("question-view", {});
                                });
                            </script>
                            <hr/>
                        </div>
                        <!--标签-->
                        <hr>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span class="label label-info question-tag" th:each="tag : ${questionUser.getTag().split(',')}">
                            <span class="glyphicon glyphicon-tags"></span>
                            <span class="label label-info" th:text="${tag}"></span>
                        </span>
                        </div>
                        <a th:href="@{'/publish/'+${questionUser.getId()}}" class="edit" th:if="${session.user !=null && session.user.getId()==questionUser.getCreator()}">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                            编辑
                        </a><br>
                        <hr/>

                        <!--回复-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4><span th:text="${questionUser.getCommentCnt()}"></span>条评论</h4>
                            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-hr">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comments" th:each="comment : ${comments}">
                                <div class="media">
                                    <div class="media-left">
                                        <a href="#">
                                            <img class="media-object img-rounded" th:src="${comment.getUser().getAvatarUrl()}" >
                                        </a>
                                    </div>
                                    <div class="media-body" th:id="${'comment-body-'+ comment.getId()}">
                                        <h5 class="media-heading">
                                            <span th:text="${comment.getUser().getName()}"></span>
                                        </h5>
                                        <!--评论内容-->
                                        <div class="content-section" th:text="${comment.content}"></div>
                                        <!--对评论的操作-->
                                        <div class="menu">
                                            <span class="glyphicon glyphicon-thumbs-up icon"></span>  <!--点赞-->
                                            <span th:data-id="${comment.id}" onclick="collapseComments(this)">
                                            <span class="glyphicon glyphicon-comment comment-icon" ></span> <!--评论-->
                                            <span th:text="${comment.getCommentCnt()}"></span><!--评论的回复数-->
                                            </span>
                                            <span class="pull-right"
                                                  th:text="${#dates.format(comment.getGmtCreate(),'yyyy-MM-dd HH:mm')}">
                                            </span>
                                        </div>
                                        <!--子回复-->
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse sub-comments"
                                             th:id="${'comment-' + comment.id}">
                                            <!--二级评论-->
                                            <!--子评论输入框-->
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <input type="text" class="form-control" placeholder="回复..." th:id="${'input-'+comment.getId()}">
                                                <button type="button" class="btn btn-success pull-right marginandpadding"
                                                        th:data-id="${comment.id}" onclick="comment(this)">评论
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--回复框-->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div id="comment_section">
                                <div class="media">
                                    <div class="media-left  media-middle">
                                        <a href="#">
                                            <img class="media-object img-circle"   th:src="${user != null ? user.getAvatarUrl() : '/img/anonymous.png'}">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h5>
                                            <span th:text="${user != null ? user.getName() : '未登陆,请先登陆！'}"></span>
                                        </h5>
                                    </div>
                                </div>
                                <input type="hidden" id="question_id" th:value="${questionUser.getId()}">
                                <textarea class="form-control comment" id="comment_content" rows="7" placeholder="请输入评论..."></textarea>
                                <button type="button" class="btn btn-success btn-submit" onclick="post()">回复</button>
                            </div>
                        </div>

                    </div>
                    <!--右边的内容-->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <h4>发起人</h4>
                            <div class="media">
                                <div class="media-left">
                                  <a href="#">
                                      <img class="media-object img-circle" th:src="${questionUser.getUser().avatarUrl}">
                                  </a>
                                </div>
                                <div class="media-body">
                                    <h6 class="media-heading">
                                        <span th:text="${questionUser.getUser().getName()}"></span>
                                    </h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4>相关问题</h4>
                            <ul class="question-related">
                                <li th:each="related:${relatedQuestions}">
                                    <a th:href="@{'/questionPage/'+${related.getId()}}" th:text="${related.getTitle()}"></a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4>关注小小社区的微信公众号</h4>
                            <img class="img-thumbnail question-wechat" src="/img/wechat.png">
                        </div>


                    </div>

            </div>
        </nav>
    </body>
</html>